.container {
  display: flex;
  width: 100%;
}
.listOfUsers {
  min-width: 250px;
  flex: 0.25;
  border-right: 1px solid rgb(233, 233, 233);
  overflow-x: auto;
}
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.chat__choose_message {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.4);
}
.chat__header {
  display: flex;
  height: 69px;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}
.chat__body {
  height: calc(100vh - 180px);
  flex-grow: 1;
  background-image: url("https://crew.bet/wp-content/uploads/2015/07/bet-blocks-bg.png?id=1563");
  background-position: center;
  background-repeat: repeat;
  overflow-y: auto;
  padding-left: 70px;
}
::-webkit-scrollbar {
  display: none;
}
.chat__message {
  display: inline-block;
  padding: 15px 25px;
  margin-bottom: 10px;
  margin-right: 70px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  overflow-wrap: break-word;
}
.chat__name {
  position: absolute;
  top: -15px;
  font-size: xx-small;
  font-weight: 800;
}
.chat__footer > form {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 15px;
  background-color: rgb(213, 217, 219);
}
.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  height: 40px;
  border: none;
  padding: 10px;
  margin: 0px 10px;
  outline: none;
  font-size: 16px;
}
.chat__footer-btn {
  display: none !important;
}
