.container {
  display: flex;
  width: 100%;
  /* height: calc(100% - 60px);
  overflow: hidden; */
}
.listOfUsers {
  flex: 0.3;
  overflow-x: hidden;
  border: 1px solid #ccc;
}

.displayName {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.displayName.active {
  background: #ccc;
}

/**********/
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}

.chat__body {
  height: calc(100vh - 180px);
  background-image: url("https://crew.bet/wp-content/uploads/2015/07/bet-blocks-bg.png?id=1563");
  background-position: center;
  background-repeat: repeat;
  overflow-y: auto;
  padding: 30px;
}

.chat__message {
  width: fit-content;
  position: relative;
  max-width: 350px;
  overflow-wrap: break-word;
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-size: xx-small;
  font-weight: 800;
}

.chat__footer > form {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 15px;
  background-color: rgb(213, 217, 219);
}
.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  height: 40px;
  border: none;
  padding: 10px;
  margin: 0px 10px;
  outline: none;
  font-size: 16px;
}

.chat__footer-btn {
  display: none !important;
}
