/* .login,
.register {
  display: flex;
  flex-direction: column;
  height: 300px;
  position: relative;
}

.login__form,
.register__form {
  width: 100%;
  max-width: 250px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 50%);
  padding: 25px 15px;
}

.login__form > form,
.register__form > form {
  display: flex;
  flex-direction: column;
}

.login__form > form > input,
.register__form > form > input {
  height: 25px;
  margin-bottom: 10px;
} */
